@import '../../styles/variables';

.navLinkContainer {
  gap: 1.5rem;
}

.navLink {
  color: $accents-8 !important;

  &:hover {
    background-color: $accents-2 !important;
    color: $accents-6 !important;
  }
}

.drawer {
  border-radius: 0 !important;

  align-items: flex-start;
}