@import 'variables';
@import 'breakpoints';

.text-muted {
  color: $accents-5 !important;
}

.font-normal {
  font-weight: 400;
}

.container {
  padding: 32px 24px;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}